#moreInfoBuy:hover {
  color: #95BDFF !important;
}

.spotifyAlbumItems {
  display: flex;
  flex-direction: column;
}

.searchResult {
  padding-bottom: 0px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.spotifyCarousel {
  margin-left: 2%;
  margin-right: 2%;
}


::ng-deep.mat-tab-header {
  background-color: #1F8A70;
  font-size: 16px;
  color: white;
}

::ng-deep.mat-tab-group {
  background-color: #1F8A70;
}


::ng-deep.mat-tab-label {
  background-color: #1F8A70;
  color: white;
  font-size: 20px;
}

::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
  background: blue;
  height: 5px;
}


#APIresultTable table,
th,
td {
  color: white;
}

#vdoha:hover {
  cursor: pointer;
}

#vdgra:hover {
  cursor: pointer;
}

#vdcra:hover {
  cursor: pointer;
}

.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border-color: #3E54AC;
  border-width: 3px;
}