<div id="searchTab">
    <div class="mainPage">
        <h1
            style="text-align: center; color: white; font-family: 'Times New Roman', Times, serif !important; margin-bottom: 0px;">
            Event Search
        </h1>
        <hr style="color: white; width: 100%; margin-bottom: 20px; margin-top: 10px;">
        <form id="partOne" style="color:#AAE3E2;" (ngSubmit)="submitlol(form)" #form="ngForm" ngNativeValidate>
            <label>Keyword</label><label style="color:red;">*</label><br>
            <input matInput style="width: 100%;" class="userInput" type="text" [(ngModel)]="kw" [matAutocomplete]="auto"
                [formControl]="searchEventCtrl" required>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSelected()'>
                <mat-option *ngIf="isLoading" class="is-loading readonly">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let k of filteredEvents" [value]="k">
                        {{ k }}
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
            <br><br>
            <div class="twoBox">
                <div class="lc">
                    <label>Distance(miles)</label>
                    <br>
                    <input class="userInput" type="number" [(ngModel)]="dmValue" value=10 style="color: black; width: 100%;" ngModel
                        name="dm">
                </div>
                <div class="fc">
                    <label style="text-align: right;">Category</label><label style="color:red;">*</label>
                    <br>
                    <select class="userInput" name="fc" id="foodCategory" required="">
                        <option value="default">Default</option>
                        <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
                        <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
                        <option value="KZFzniwnSyZfZ7v7na">Arts & Theatre</option>
                        <option value="KZFzniwnSyZfZ7v7nn">Film</option>
                        <option value="KZFzniwnSyZfZ7v7n1">Miscellaneous</option>
                    </select>
                </div>
            </div>
            <br>
            <label>Location</label><label style="color:red;">*&nbsp;&nbsp;</label>
            <br>
            <input class="userInput" type=" text" name="location" ngModel name="location" id="inputLoc"
                style="width: 100%;" required="">
            <br>
            <br>
            <input type="checkbox" id="cbox" ngModel name="autoDetect" (click)="hideLocInput()">
            <label style="color: gray;"><strong>Auto-Detect your location</strong></label>
            <br>
            <br>
            <div id="twoBut">
                <input type="submit" value="SUBMIT" class="subBut">
                <input type="button" value="CLEAR" class="clearBut" (click)="form.resetForm();cc();" (click)="cc()">
            </div>
            <br>
            <br>
        </form>
    </div>
    <div id="notfound" style="display: none;">
        <h3 style="color: red; text-align: center;">No results available</h3>
    </div>
    <div id="APIresult" class="APIresult">

    </div>
</div>

<div id="searchResult">
    <div class="searchResult" style="border-top-left-radius: 12px; border-top-right-radius: 12px;">
        <button type="button" style="padding: 0px;" class="btn" id="previousPage" (click)="goBack()"><span
                class="bi bi-chevron-left">Back</span></button>

        <div class="restButton">
            <!-- use either (click)="openModal() or data-bs-target="#reserveModal" here" -->
            <button style="display:none;" id="realOpen" data-bs-toggle="modal" data-bs-target="#reserveModal"></button>
            <p id="moreInfoHeader">{{moreInfoHeader}}
            </p>
            <div style="display: inline-block;" (click)="addFavorite()">
                <button class="like-button" onclick="addFavorite()">
                    <div class="like-wrapper">
                        <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                            </path>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div id="main_wrapper" class="searchResult"
        style="border-bottom-right-radius: 12px; border-bottom-left-radius: 12px;">
        <mat-tab-group mat-align-tabs="center" backgroundColor="primary" style="flex: 1 1 auto; width: auto;" disablePagination md-stretch-tabs dynamicHeight>
            <mat-tab label="Events detail" >
                <section id="businessTab">
                    <div
                        style="display: flex; flex-direction: column; width: 100%; margin-left: auto; margin-right: auto;">
                        <div style="padding: 20px; margin-left: auto; margin-right: auto; width: 100%;">
                            <div class="srb">
                                <div class="srleft">
                                    <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 10px;">Date</h3>
                                    <p id="moreInfoDate" style="color: white;">{{moreInfoDate}}</p>
                                    <h3 *ngIf="moreInfoATT!=''" id="moreInfoATT"
                                        style="color: #9DF1DF; margin-bottom: 0px;">Artist/Team</h3>
                                    <p id="moreInfoAT">{{moreInfoAT}}</p>
                                    <h3 style="color: #9DF1DF; margin-bottom: 0px;">Venue</h3>
                                    <p id="moreInfoVenue" style="color: white;">{{moreInfoVenue}}</p>
                                    <h3 style="color: #9DF1DF; margin-bottom: 0px;">Genres</h3>
                                    <p id="moreInfoGen" style="color: white;">{{moreInfoGen}}</p>
                                    <h3 *ngIf="moreInfoRange!=''" id="prangeTitle"
                                        style="color: #9DF1DF; margin-bottom: 0px;">Price Ranges</h3>
                                    <p id="moreInfoRange" style="color: white;">{{moreInfoRange}}</p>
                                    <h3 style="color: #9DF1DF; margin-bottom: 0px;">Ticket Status</h3>
                                    <div id="moreInfoSta"
                                        [ngClass]="{'onSale': ticketStatius === 'onsale', 'offSale': ticketStatius === 'offsale',
                                    'canceled': ticketStatius === 'canceled',  'rescheduled': ticketStatius !== 'onsale' && ticketStatius !== 'offsale' && ticketStatius !== 'canceled'}">
                                        {{ticketstatus}}
                                    </div>
                                    <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Buy Ticket At:
                                    </h3>
                                    <a href={{moreInfoBuy}} id="moreInfoBuy" target="_blank">Ticketmaster</a>
                                </div>
                                <div class="srright">
                                    <img id="moreInfoIMG" src='{{moreInfoIMG}}' alt="">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="promotionBut" id="promotionBut">
                            <div class="socialShare">
                                <p style="color: white; margin-bottom: 0px;">Shared on:</p>
                                <a id="twitterIcon" href='{{twitterIcon}}' target="_blank">
                                    <div style="color: #9DF1DF; margin-left: 5x; margin-right: 5px;">
                                        <i class="fab fa-twitter fa-2x"></i>
                                    </div>
                                </a>
                                <a id="fbIcon" href='{{fbIcon}}' target="_blank">
                                    <i class="fab fa-facebook-square fa-2x"></i>
                                </a>
                                <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
              data-show-count="false">Tweet</a> -->
                                <!-- <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                                <!-- <iframe
              src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=60&height=20&appId"
              width="60" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
                            </div>
                        </div>
                    </div>
                </section>
            </mat-tab>
            <mat-tab label="Artist/Teams" aria-label="primary" style="color:white;">
                <section id="spotifyArtist" style="display: block; margin-top: 20px;">
                    <div *ngIf="spotifyArtists.length == 0" id="noArtist">
                        <h3 style="color: red; text-align: center; padding-left: 10px; padding-right: 10px;">No
                            music
                            related
                            artist
                            details to show</h3>
                    </div>
                    <!-- carousel -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="cinner" style="width: 80%;">
                            <div *ngFor="let sa of spotifyArtists; let i=index" [class.carousel-item]="i>-1"
                                [class.active]="i==0">
                                <div class="spotifyCarousel">
                                    <div class="spotifyRow">
                                        <div class="spotifyItems">
                                            <img src={{sa[0]}} class="artistIcon">
                                            <h4
                                                style="color: rgb(157, 241, 223); margin-left: auto; margin-right: auto; margin-top: 5px;">
                                                {{sa[1]}}</h4>
                                        </div>
                                        <div class="spotifyItems">
                                            <h4 style="color: rgb(157, 241, 223);">Popularity</h4>
                                            <div class="progress-ring"
                                                style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
                                                <mat-progress-spinner mode="determinate" value={{sa[2]}}
                                                    style="position: absolute;" color="white" diameter="40">
                                                </mat-progress-spinner>
                                                <div style="color:white; position: absolute;">{{sa[2]}}</div>
                                            </div>

                                        </div>
                                        <div class="spotifyItems">
                                            <h4 style="color: rgb(157, 241, 223);">Followers</h4>
                                            <h4 style="color: white;">{{sa[3]}}</h4>
                                        </div>
                                        <div class="spotifyItems">
                                            <h4 style="color: rgb(157, 241, 223);">Spotify Link</h4><a href={{sa[4]}}
                                                target="_blank" rel="noopener noreferrer"
                                                style="color: green; margin-right: auto; margin-left: auto;"><span
                                                    class="fa-brands fa-spotify fa-3x" style="color: green;"></span></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="spotifyRow">
                                        <div class="spotifyAlbumItems">
                                            <h4 *ngIf="sa.length > 6" style="color: rgb(157, 241, 223);">Album featuring {{sa[5]}}
                                            </h4>
                                            <div>
                                                <div class="albumIMG">
                                                    <img src={{sa[6]}}>
                                                    <img src={{sa[7]}}>
                                                    <img src={{sa[8]}}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a *ngIf="spotifyArtists.length > 1" id="carouselBack" class="carousel-control-prev"
                            href="#carouselExampleControls" role="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a *ngIf="spotifyArtists.length > 1" id="carouselNext" class="carousel-control-next"
                            href="#carouselExampleControls" role="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </section>
            </mat-tab>
            <mat-tab label="Venue" aria-label="primary">
                <section id="venuesDetails" style="display: block;">
                    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                        <div id="VenueDetails">
                            <div id="vdLeft" style="text-align: center;">
                                <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Name:</h3>
                                <p id="vdHeader" style="color: white;">{{ vdHeader }}</p>
                                <h3 *ngIf="vdaddr !== ''" style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Address:</h3>
                                <p id="vdaddr" style="color: white;">{{vdaddr }}</p>
                                <h3 *ngIf="vdphone !== ''" style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Phone Number:</h3>
                                <p id="vdphone" style="color: white;">{{vdphone}}</p>
                            </div>
                            <div *ngIf="vdoh !== '' || vdgr !== '' || vdcr !== ''" id="vdRight">
                                <div *ngIf="vdoh !== ''" id="openhour">
                                    <div class="spoiler">
                                        <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Open Hours:
                                        </h3>
                                        <p id="vdoh" class="hidden-text vdrm" style="color: white; margin-bottom: 0px;">
                                            {{vdoh}}</p>
                                        <a (click)="readMore('vdoh')"
                                            style="color: #95BDFF; margin-left:auto; margin-right: auto; text-decoration: underline;"
                                            id="vdoha">
                                            show
                                            more<i class="bi bi-chevron-down"></i></a>
                                    </div>
                                </div>

                                <div *ngIf="vdgr !== ''" id="generalRule">
                                    <div class="spoiler">
                                        <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">General Rule:
                                        </h3>
                                        <p class="vdrm hidden-text" style="color: white; margin-bottom: 0px;" id="vdgr">
                                            {{vdgr}}</p>

                                        <a (click)="readMore('vdgr')"
                                            style="color: #95BDFF; margin-left:auto; margin-right: auto; text-decoration: underline;"
                                            id="vdgra">
                                            show
                                            more<i class="bi bi-chevron-down"></i></a>
                                    </div>
                                </div>

                                <div *ngIf="vdcr !== ''" id="childRule">
                                    <div class="spoiler">
                                        <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Child Rule:
                                        </h3>
                                        <p id="vdcr" class="vdrm hidden-text" style="color: white; margin-bottom: 0px;">
                                            {{vdcr}}</p>

                                        <a (click)="readMore('vdcr')"
                                            style="color: #95BDFF; margin-left:auto; margin-right: auto; text-decoration: underline;"
                                            id="vdcra">
                                            show
                                            more<i class="bi bi-chevron-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="gmb" data-bs-toggle="modal" data-bs-target="#reserveModal"
                            (click)="openModan()">Show venue
                            on
                            Google map</button>
                    </div>
                </section>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" role="dialog" id="reserveModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-margin-y-sm-up">
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom: 0px;">
                <h2 class="modal-title">Event Venue</h2>
            </div>
            <div class="modal-body">
                <!--Google map-->
                <!-- <div class="container-fluid">
                <div class="map-responsive"> -->
                <google-map height="400px" width="100%" [zoom]="14" [center]="gcenter" #gmap>
                    <map-marker [position]="gcenter"></map-marker>
                </google-map>
                <!-- </div>
              </div> -->
                <!--Google Maps-->
            </div>
            <div class="modal-footer" style="justify-content: left;">
                <button class="btn btn-dark text-left" data-bs-dismiss="modal" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>