#moreInfoBuy:hover {
    color: #95BDFF !important;
}

.spotifyAlbumItems {
    display: flex;
    flex-direction: column;
}
.spotifyCarousel {
    margin-left: 2%;
    margin-right: 2%;
}


#APIresultTable table,
th,
td {
    color: white;
}