h1 {
    width: 100%;
    text-align: left;
}

h2 {
    width: 100%;
    text-align: left;
}

.flex-container {
    background-color: gray;
}
.subBut {
    color: white;
    background-color: #FC7300;
    border-radius:10px;
    border: 2px solid;
    border: none;
    padding: 15px 32px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: -6px 6px 0 black;
    padding: 1em 2em;
    box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2);
}

.clearBut {
    color: white;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
    border-radius:10px;
    border: 2px solid;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: -6px 6px 0 black;
    padding: 1em 2em;
    box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2);
}

input[name="kw"] {
    width: 100%;
}

.twoBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: col wrap;
    justify-content:space-between;
    width: 100%;
}
.srright {
    width: 400px;
    background-color: gray;
}
.srleft {
    width: 300px;
    background-color: black;
}
.fc {
    margin-left: auto;
    margin-right: 0;
}

.mainPage {
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    width: 400px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0, 20px, 0, 20px;
    border-radius:10px;
}

.searchResult {
    display: none;
    flex-flow: row wrap;
    border-radius:10px;
    /* Then we define how is distributed the remaining space */
    justify-content: center;
    list-style: none;
}

.APIresult {
    display: none;
    flex-flow: column wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.arow {
    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    align-items: stretch;
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    list-style: none;
}

.arow .no {
    flex: 1 1 10px;
    text-align: center;
}

.img {
    flex: 1 1 30px;
    text-align: center;
}
.icon {
    margin-top: 1em;
    text-align: center;
}

.arow .bn {
    flex: 1 1 20px;
    text-align: center;
}

.arow .bn:hover {
    flex: 1 1 20px;
    text-align: center;
    color: mediumblue;
}

.arow .rating {
    flex: 1 1 10px;
    text-align: center;
}

.arow .dist {
    flex: 1 1 10px;
    text-align: center;
}
/* arrow down button */
.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    justify-content: center;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  #venueDetails {
    border-width: 2px solid #dedede;
    margin: 3px;
  }
  #vdHeader {
    border-bottom: 1px solid #dedede;
    display: inline-block;
  }
  #vdLeft {
    justify-content: center;
  }
  #vdRight {
    justify-content: center;
  }