#mbTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#favoriteTable table,
th,
td {
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  color: black;
  /* background-color: #DDDDDD; */
}

#favoriteTable {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    min-width: 500px;
}

/* @media screen and (max-width: 425px) {
    #favoriteTable {
      min-width: 500px;
    }
} */