<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Event Search</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- <mat-progress-spinner mode="determinate" color="accent" value="65">65</mat-progress-spinner> -->
  <div class="d-flex justify-content-end" style="margin-top:10px;">
    <button type="button" id="sea" class="customBUT" (click)="clickTab('sea')">Search</button>
    <button type="button" id="mb" style="border-color: transparent;" class="customBUT"
      (click)="clickTab('mb')">Favorites</button>
  </div>
  <!-- booking Tabs -->
  <div id="myBookingsTab" style="display: none;">
    <h1 id="mbTitle">List of your reservations</h1>
    <div id="favoriteTable" class="fT">

    </div>
  </div>

  <div id="searchTab">
    <div class="mainPage">
      <h1
        style="text-align: center; color: white; font-family: 'Times New Roman', Times, serif !important; margin-bottom: 0px;">
        Event Search
      </h1>
      <hr style="color: white; width: 100%; margin-bottom: 20px; margin-top: 10px;">
      <form id="partOne" style="color:#AAE3E2;" (ngSubmit)="submitlol(form)" #form="ngForm">
        <label>Keyword</label><label style="color:red;">*</label><br>
        <input class="userInput" type="text" name="kw" required="" ngModel name="kw">
        <br><br>
        <div class="twoBox">
          <div class="lc">
            <label>Distance(miles)</label>
            <br>
            <input class="userInput" type="number" name="dm" value=10 style="color: gray; width: 100%;" ngModel
              name="dm">
          </div>
          <div class="fc">
            <label style="text-align: right;">Category</label><label style="color:red;">*</label>
            <br>
            <select class="userInput" name="fc" id="foodCategory" required="">
              <option value="default">Default</option>
              <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
              <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
              <option value="KZFzniwnSyZfZ7v7na">Arts & Theatre</option>
              <option value="KZFzniwnSyZfZ7v7nn">Film</option>
              <option value="KZFzniwnSyZfZ7v7n1">Miscellaneous</option>
            </select>
          </div>
        </div>
        <br>
        <label>Location</label><label style="color:red;">*&nbsp;&nbsp;</label>
        <br>
        <input class="userInput" type=" text" name="location" ngModel name="location" id="inputLoc" style="width: 100%;"
          required="">
        <br>
        <br>
        <input type="checkbox" name="autoDetect" id="cbox" ngModel name="autoDetect" (click)="hideLocInput()">
        <label style="color: gray;"><strong>Auto-Detect your location</strong></label>
        <br>
        <br>
        <!-- we cannot call function submit  -->
        <div id="twoBut">
          <input type="submit" value="SUBMIT" class="subBut">
          <input type="button" value="CLEAR" class="clearBut" (click)="form.resetForm();cc();" (click)="cc()">
        </div>
        <br>
        <br>
      </form>
    </div>
    <div id="notfound" style="display: none;">
      <h3 style="color: red; text-align: center;">No results available</h3>
    </div>
    <div id="APIresult" class="APIresult">

    </div>
  </div>

  <div id="searchResult">
    <div class="searchResult" style="padding-bottom: 0px; border-top-left-radius: 10px; border-top-right-radius: 10px">
      <button type="button" style="padding: 0px;" class="btn" id="previousPage" (click)="goBack()"><span
          class="bi bi-chevron-left">Back</span></button>

      <div class="restButton">
        <!-- use either (click)="openModal() or data-bs-target="#reserveModal" here" -->
        <button style="display:none;" id="realOpen" data-bs-toggle="modal" data-bs-target="#reserveModal"></button>
        <p id="moreInfoHeader" style="text-align: center; color: #DDDDDD; margin-bottom: 1em; display: inline-block; margin-top: 1em; margin-right: 5px; font-size: x-large;"></p>
        <div style="display: inline-block;" (click)="addFavorite()">
          <button class="like-button" onclick="addFavorite()">
            <div class="like-wrapper">
              <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                </path>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>


    <div id="main_wrapper" class="searchResult" style="padding-right: 0px;padding-left: 0px; border-radius: 0px; padding-top: 0px;">      
      <ul class="nav" id="nav-tabs" style="background-color: #1F8A70;">
        <li id="businessTabb" class="nav-item" role="presentation">
          <a class="nav-link" (click)="putMeUp('businessTab')" href="#businessTab" style="color: white;">Events
            detail</a>
          <span></span>
        </li>
        <li id="spotifyArtistb" class="nav-item" role="presentation">
          <a class="nav-link" (click)="putMeUp('spotifyArtist')" href="#spotifyArtist"
            style="color: white;">Artist/Teams</a>
          <span></span>
        </li>
        <li id="venuesDetailsb" class="nav-item" role="presentation">
          <a class="nav-link" (click)="putMeUp('venuesDetails')" href="#venuesDetails" style="color: white;">Venue</a>
          <span></span>
        </li>
      </ul>
    </div>
    <div class="searchResult" style="padding-top: 20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
      <section id="businessTab">
        <div style="display: flex; flex-direction: column; width: 100%; margin-left: auto; margin-right: auto;">
        <div class="srb">
          <div class="srleft">
            <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 10px;">Date</h3>
            <p id="moreInfoDate" style="color: white;"></p>
            <h3 id="moreInfoATT" style="color: #9DF1DF; margin-bottom: 0px;"></h3>
            <div id="moreInfoAT"></div>
            <h3 style="color: #9DF1DF; margin-bottom: 0px;">Venue</h3>
            <p id="moreInfoVenue" style="color: white;"></p>
            <h3 style="color: #9DF1DF; margin-bottom: 0px;">Genres</h3>
            <p id="moreInfoGen" style="color: white;"></p>
            <h3 id="prangeTitle" style="color: #9DF1DF; margin-bottom: 0px;"></h3>
            <p id="moreInfoRange" style="color: white;"></p>
            <h3 style="color: #9DF1DF; margin-bottom: 0px;">Ticket Status</h3>
            <div id="moreInfoSta"></div>
            <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Buy Ticket At:</h3>
            <a href="" id="moreInfoBuy" target="_blank" style="color: #1F8A70; text-decoration: none;">Ticketmaster</a>
          </div>
          <div class="srright">
            <img id="moreInfoIMG" src="" alt="">
          </div>
        </div>
        <br>
        <br>
        <div class="promotionBut" id="promotionBut">

          <div class="socialShare">
            <p style="color: white; margin-bottom: 0px;">Shared on:</p>
            <a id="twitterIcon"
              href="https://twitter.com/intent/tweet?url=https://example.com&text=Check%20out%20this%20awesome%20website!&via=myTwitterHandle"
              target="_blank">
              <div style="color: #9DF1DF; margin-left: 5x; margin-right: 5px;">
                <i class="fab fa-twitter fa-2x"></i>
              </div>
            </a>
            <a id="fbIcon" href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank">
              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
              data-show-count="false">Tweet</a> -->
            <!-- <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            <!-- <iframe
              src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=60&height=20&appId"
              width="60" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
          </div>
        </div>
        </div>
      </section>

      <section id="spotifyArtist" style="display: none;">
        <div id="noArtist">
          <h3 style="color: red; text-align: center; padding-left: 10px; padding-right: 10px;">No music related artist
            details to show</h3>
        </div>
        <!-- carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" id="cinner" style="width: 80%;">
            <!-- <div class="carousel-item active">
              <div class="d-block w-100" style="width: 500px; height: 500px; background-color:#1F8A70;"></div>
            </div> -->
          </div>
          <a id="carouselBack" class="carousel-control-prev" href="#carouselExampleControls" role="button"
            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a id="carouselNext" class="carousel-control-next" href="#carouselExampleControls" role="button"
            data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>

      <section id="venuesDetails" style="display: none;">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
          <div id="VenueDetails">
            <div id="vdLeft" style="width: 50%; text-align: center;">
              <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Name:</h3>
              <p id="vdHeader" style="color: white;"></p>
              <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Address:</h3>
              <p id="vdaddr" style="color: white;"></p>
              <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Phone Number:</h3>
              <p id="vdphone" style="color: white;"></p>
            </div>
            <div id="vdRight">
              <div class="spoiler">
                <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Open Hours:</h3>
                <p id="vdoh" class="hidden-text vdrm" style="color: white; margin-bottom: 0px;"></p>
              </div>
              <a (click)="readMore('vdoh')" style="color: #95BDFF; margin-left:auto; margin-right: auto; text-decoration: underline;" id="vdoha"> show
                more<i class="bi bi-chevron-down"></i></a>

              <div class="spoiler">
                <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">General Rule:</h3>
                <p class="vdrm hidden-text" style="color: white; margin-bottom: 0px;" id="vdgr"></p>
              </div>
              <a (click)="readMore('vdgr')" style="color: #95BDFF; margin-left:auto; margin-right: auto; text-decoration: underline;" id="vdgra"> show
                more<i class="bi bi-chevron-down"></i></a>

              <div class="spoiler">
                <h3 style="color: #9DF1DF; margin-bottom: 0px; margin-top: 16px;">Child Rule:</h3>
                <p id="vdcr" class="vdrm hidden-text" style="color: white; margin-bottom: 0px;"></p>
              </div>
              <a (click)="readMore('vdcr')" style="color: #95BDFF; margin-left:auto; margin-right: auto; text-decoration: underline;" id="vdcra"> show
                more<i class="bi bi-chevron-down"></i></a>
            </div>
          </div>
          <button id="gmb" data-bs-toggle="modal" data-bs-target="#reserveModal" (click)="openModan()">Show venue on
            Google map</button>
        </div>
      </section>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" role="dialog" id="reserveModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-margin-y-sm-up">
      <div class="modal-content">
        <div class="modal-header" style="margin-bottom: 0px;">
          <h2 class="modal-title">Event Venue</h2>
        </div>
        <div class="modal-body">
          <!--Google map-->
          <div class="container-fluid">
            <div class="map-responsive">
              <google-map height="400px" width="100%" [center]="gcenter">
                <map-marker [position]="gposition"></map-marker>
              </google-map>
            </div>
          </div>
          <!--Google Maps-->
        </div>
        <div class="modal-footer" style="justify-content: left;">
          <button class="btn btn-dark text-left" data-bs-dismiss="modal" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>