<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Event Search</title>
</head>

<body>
  <div id="upperTab">
    <button type="button" id="sea" class="customBUT" (click)="clickTab('sea')">Search</button>
    <button type="button" id="mb" style="border-color: transparent;" class="customBUT"
      (click)="clickTab('mb')">My Bookings</button>
  </div>
  <div id="myBookingsTab" style="display: none;">
    <h1 style="text-align: center" id="mbTitle">List of your reservations</h1>
  </div>

  <div class="mainPage">
    <h1 style="text-align: center; color: white; font-family: 'Times New Roman', Times, serif !important;">Event Search
    </h1>
    <hr>
    <form name="partOne" style="color:#AAE3E2;" (ngSubmit)="submitlol(form)" #form="ngForm">
      <label>Keyword</label><label style="color:red;">*</label><br>
      <input  class="userInput" type="text" name="kw" required ngModel name="kw">
      <br><br>
      <div class="twoBox">
        <div>
          <label>Distance(miles)</label>
          <br>
          <input class="userInput" type="number" name="dm" value=10 style="color: gray;" ngModel name="dm">
        </div>
        <div class="fc">
          <label style="text-align: right;">Category</label><label style="color:red;">*</label>
          <br>
          <select class="userInput" name="fc" id="foodCategory" required>
            <option value="default">Default</option>
            <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
            <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
            <option value="KZFzniwnSyZfZ7v7na">Arts & Theatre</option>
            <option value="KZFzniwnSyZfZ7v7nn">Film</option>
            <option value="KZFzniwnSyZfZ7v7n1">Miscellaneous</option>
          </select>
        </div>
      </div>
      <br><br>
      <label>Location</label><label style="color:red;">*&nbsp;&nbsp;</label>
      <input type="checkbox" name="autoDetect" id="cbox" ngModel name="autoDetect" (click)="hideLocInput()">
      <label style="color: gray;"><strong>Auto-Detect Location</strong></label>
      <br>
      <input class="userInput" type=" text" name="location" ngModel name="location" id="inputLoc" style="width: 100%;" required >
      <br><br>
      <!-- we cannot call function submit  -->
      <input type="submit" value="SUBMIT" class="subBut">
      <input type="button" value="CLEAR" class="clearBut" (click)="form.resetForm();cc();" (click)="cc()">
    </form>
  </div>
  <div id="notfound">
    <h3 style="color: red; text-align: center;">No Records found</h3>
  </div>
  <div id="APIresult" class="APIresult">

  </div>

  <div id="searchResult" class="searchResult">
    <h2 id="moreInfoHeader" style="text-align: center; color: #DDDDDD; margin-bottom: 2em"></h2>
    <div class="srleft">
      <h3 style="color: #9DF1DF;">Date</h3>
      <p id="moreInfoDate" style="color: white;"></p>
      <h3 id="moreInfoATT" style="color: #9DF1DF;"></h3>
      <div id="moreInfoAT"></div>
      <h3 style="color: #9DF1DF;">Venue</h3>
      <p id="moreInfoVenue" style="color: white;"></p>
      <h3 style="color: #9DF1DF;">Genres</h3>
      <p id="moreInfoGen" style="color: white;"></p>
      <h3 id="prangeTitle" style="color: #9DF1DF;"></h3>
      <p id="moreInfoRange" style="color: white;"></p>
      <h3 style="color: #9DF1DF;">Ticket Status</h3>
      <div id="moreInfoSta"></div>
      <h3 style="color: #9DF1DF;">Buy Ticket At:</h3>
      <a href="" id="moreInfoBuy" target="_blank" style="color: #1F8A70; text-decoration: none;">Ticketmaster</a>
    </div>
    <div class="srright">
      <img id="moreInfoIMG" src="" alt="">
    </div>
  </div>

  <div class="venueBut" style="display: none;">
    <h3 style="text-align: center; color: white;">Show Venue Details</h3>
    <div class="arrow" (click)="showVenue()" style="margin-left: auto; margin-right: auto; margin-bottom: 50px;">
    </div>
  </div>

  <div class="outerMargin" id="outerMargin">
    <div id="venueDetails">
      <div class="outVH">
        <h1 id="vdHeader" style="text-align: center;"></h1>
      </div>
      <img src="" id="vdIMG">
      <div>
        <div id="vdLeft" style="width: 50%; text-align: center;">
          <div>
            <div style="width: 40%; display: inline-block; vertical-align: top;
            text-align: right;"><p>Address: </p></div>
            <div style="font-style: bold;
            display: inline-block; vertical-align: top; text-align: left; width: 58%;">
            <p id="vdaddr" style="font-style: bold;"></p>
            </div>
          </div>
          <a href="" id="vdgm" target="_blank">Open in Google Maps</a>
        </div><div id="vdRight">
          <a href="" id="vdme" target="_blank">More Events at this venue</a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</body>

</html>