/* You can add global styles to this file, and also import other style files */
h1 {
  width: 100%;
  text-align: left;
}

.my-google-map .map-container {
  width: 400px;
  height: 400px;
}

.mainPage {
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  width: 50%;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;

  /* filter blur  */
  backdrop-filter: blur(10px);
  background-color: rgba(67, 66, 66, 0.6);
}

#moreInfoAT {
  display: flex;
  color: white;
}

.userInput {
  /* background: rgba(0, 0, 0, 0); */
  border: 0.8px white solid;
  padding: 7px;
  border-radius: 7px;
  /* color: white; */
}

h2 {
  width: 100%;
  text-align: left;
}

body {
  background-image: url("./assets/background.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table,
th,
td {
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  /* color: white; */
}

select {
  width: 100% !important;
  height: 100% !important;
}

.fevent:hover {
  cursor: pointer !important;
}

.fgenre:hover {
  cursor: pointer !important;
}

.fvenue:hover {
  cursor: pointer !important;
}

#APIresultTable {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  color: white;
  min-width: 500px;
}

#favoriteTable {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.flex-container {
  background-color: gray;
}

.subBut {
  color: white;
  background-color: #EB455F;

  border-radius: 10px;
  border: 2px solid;
  border: none;
  padding: 15px 32px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* box-shadow: -6px 6px 0 black; */
  padding: 1em 2em;
  /* box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2); */
}

.subBut:hover {
  background-color: #ffb87e;
}

.clearBut:hover {
  background-color: #bbc8e0;
}

.clearBut {
  color: white;
  /* background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%); */
  background-color: #7892c2;
  border-radius: 10px;
  border: 2px solid;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* box-shadow: -6px 6px 0 black; */
  padding: 1em 2em;
  /* box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2); */
}

#VenueDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

input[name="kw"] {
  width: 100%;
}

.twoBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.srright {
  width: 49%;
  /* background-color: white; */
  /* display: inline-block;
  vertical-align: top; */
}

.srleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* display: inline-block; */
}

.headerCell {
  /* margin-top: 1em;
  margin-bottom: 1em; */
  font-weight: bold;
  margin-bottom: 0px;
}

#moreInfoIMG {
  width: 100%;
  display: block;
  margin: auto;
}

.searchResult {
  display: none;
  /* flex-flow: row wrap; */
  /* border-radius: 10px; */
  margin-left: auto;
  margin-right: auto;
  /* Then we define how is distributed the remaining space */
  justify-content: center;
  list-style: none;
  width: 65%;
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(67, 66, 66, 0.6);
}

.APIresult {
  display: none;
  /* flex-flow: column wrap; */
  margin-left: auto;
  margin-right: auto;
  /* Then we define how is distributed the remaining space */
  /* justify-content: space-around; */
  list-style: none;
  padding-bottom: 15px;
}

/* API search table related style */
.arow {
  /* display: flex;
    flex-flow: row wrap; */
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  align-items: stretch;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.aarow {
  justify-content: space-around;
  align-items: stretch;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.aarow:hover {
  background-color: #D1D1D1;
}

.no {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 10%;
}

.arow .no {
  /* flex: 1 1 10px; */
  text-align: center;
}

.img {
  /* flex: 1 1 30px; */
  text-align: center;
}

.datetn {
  margin: 1px;
}

#twoBut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artistIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon {
  /* margin-top: 1em; */
  text-align: center;
  object-fit: scale-down;
  width: 15%;
  /* max-width: 150px; */
}

#mbTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hasnoEvents {
  color: red;
  padding: 10px;
  background-color: white;
  width: 80%;
  border-radius: 20px;
}

.hasEvents {
  color: #30E3DF;
}

.canceled {
  background-color: black;
  padding: 5px;
  width: 60px;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.arow .bn {
  flex: 1 1 20px;
  text-align: center;
}

.arow .bn:hover {
  flex: 1 1 20px;
  text-align: center;
  color: mediumblue;
}

.arow .rating {
  flex: 1 1 10px;
  text-align: center;
}

.arow .dist {
  flex: 1 1 10px;
  text-align: center;
}

/* arrow down button */
.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  justify-content: center;
}

#gmb {
  background-color: #ea442b;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
  cursor: pointer;
}

.fT {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.outVH {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  block-size: fit-content;
}

#vdgm {
  color: #30E3DF;
  text-decoration: none;
}

#vdme {
  color: #30E3DF;
  text-decoration: none;
}

#vdgm:hover {
  color: #A084DC;
}
#main_wrapper {
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#vdme:hover {
  color: #A084DC;
}

#vdLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 2px;
}

#vdRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#vdIMG {
  display: block;
  align-content: center;
  width: 70px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

#notfound {
  display: none;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 20px;
}

#noArtist {
  /* display: none; */
  background-color: white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 20px;
}

/* image default inline block  */
.onSale {
  background-color: green;
  padding: 5px;
  width: 70px;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 13px;
}

.bn:hover {
  /* color: #A084DC; */
  cursor: pointer;
}

.rescheduled {
  background-color: orange;
  padding: 5px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 13px;
}

.offSale {
  background-color: red;
  padding: 5px;
  width: 80px;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 13px;
}

/* older versin of CSS */

.wrap {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.customBUT {
  display: inline;
  border-radius: 28px;
  border: 1px solid #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  background: rgba(0, 0, 0, 0);
  border: 1px white solid;
  border-radius: 20px;
  color: white;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  width: fit-content;
  /* Then we define the flow direction 
         and if we allow the items to wrap 
       * Remember this is the same as:
       * flex-direction: row;
       * flex-wrap: wrap;
       */
  flex-flow: nowrap;
  flex-direction: column;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  list-style: none;
  margin: auto;
}


input[name="kw"] {
  width: 100%;
}

#businessTab {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav-item {
  flex: 1 1 auto;
  text-align: center;
  background-color: transparent;
}

#previousPage {
  align-self: flex-start;
  color: white;
}

.restButton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

#promotionBut {
  display: show;
  margin-left: auto;
  margin-right: auto;
}

.socialShare {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.spotify-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('https://www.scdn.co/i/_global/favicon.png');
  background-size: cover;
  margin-right: 8px;
}

.srb {
  display: flex;
  align-items: center;
}

.albumIMG {
  display: flex;
  justify-content: space-between;
}

.albumIMG img {
  flex: 1;
  margin: 0 10px;
  max-width: 30%;
}
/* ::ng-deep.mat-mdc-tab-labels{
  background-color: #1F8A70;
} */
.mat-mdc-tab-labels{
  padding-left: 6em;
  padding-right: 6em;
  background-color: #1F8A70;
}
.mat-mdc-tab-group.mat-tabs-with-background > .mat-mdc-tab-header .mdc-tab-indicator__content--underline {
  border-color: #3E54AC !important;
  border-width: 3px;
}

.mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mdc-tab-indicator__content--underline, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-tab-header-pagination-chevron, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-focus-indicator {
  border-color: #3E54AC;
  border-block-color: #3E54AC;
}

.mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mdc-tab-indicator__content--underline, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-tab-header-pagination-chevron, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-focus-indicator {
  border-color: #3E54AC;
  border-width: 3px;
  font-size: 1em;
  font-family: system-ui;
}
.mdc-tab__text-label {
  color: white;
}
.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border-color: #3E54AC;
  border-width: 3px;
}

.mat-progress-spinner circle,
.mat-spinner circle::ng-deep circle {
  stroke: #FFA3FD;
}

.mat-spinner::ng-deep circle {
  stroke: #FFA3FD;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: red;
}

.spotifyItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.spotifyRow {
  display: flex;
  justify-content: space-between;
}

.spotifyCarousel {
  background: rgba(0, 0, 0, 0);
}

#moreInfoHeader {
  text-align: center;
  color: #DDDDDD;
  margin-bottom: 1em;
  display: inline-block;
  margin-top: 1em;
  margin-right: 5px;
  font-size: x-large;
}

#carouselExampleControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  max-width: 30%;
}

/* for rounded table */
.rounded-table {
  /* border-collapse: separate; */
  border: none;
  border-radius: 10px;
}

.rounded-table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.rounded-table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.rounded-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.rounded-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


.resBut {
  box-shadow: inset 0px 0px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 6px 7px;
  text-decoration: none;
  text-shadow: 0px 1px 10px #854629;
}

.artistPhoto {
  width: 50%;
  object-fit: scale-down;
  max-width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* 
#favoriteTable tr:hover {
  color: #D1D1D1;
} */
.restButton:hover {
  cursor: pointer;
}

/* #reserveModal {
      display: none;
  } */
/* tab css from https://stackoverflow.com/questions/26734479/how-to-link-href-to-a-tab
  https://codepen.io/alvarotrigo/pen/bGoPzMe
  https://codepen.io/alvarotrigo/pen/KKXjJBm
  */
/* #tab1:checked ~ section .tab1,
  #tab2:checked ~ section .tab2,
  #tab3:checked ~ section .tab3 {
    display: block;
  } */
/* for google map  */
.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#main_wrapper li .active span {
  border-bottom: 4px solid white;
  color: white;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

/* heart button */

.like-button {
  font-size: 5vmin;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: white;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 2;
  transition: transform var(--duration) var(--easing);
  cursor: pointer;
}

.like-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.heart {
  width: 20px;
  height: 20px;
  display: block;
  transform-origin: center 80%;
}

.heart>path {
  stroke: red;
  stroke-width: 2;
  fill: transparent;
  transition: fill;
}



.hidden-text {
  height: 40px;
  overflow: hidden;
  /* font-size: 16px; */
}

.more-text {
  height: auto;
  /* font-size: 16px; */
}

.vdrm {
  color: white;
}

.spoiler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Reset the animation when clicking again! */
.like-button:focus {
  pointer-events: none;
  cursor: normal;
}

/* navigation tab */
#nav-tabs .nav-link {
  color: #3E54AC;
  font-size: 1.1em;
}

#nav-tabs .nav-item {
  position: relative;
}
/* .modal-backdrop {
  top: auto;
} */
#nav-tabs .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #3E54AC;
  width: 0%;
  content: "";
  height: 4px;
}

#nav-tabs .nav-item.active::after {
  width: 100%;
}

#nav-tabs :hover {
  cursor: pointer !important;
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

@media screen and (min-width: 900px) {
  .fc {
    margin-left: 5em;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 425px) {
  .fc {
    width: 80%;
    margin-top: 20px;
  }

  .lc {
    width: 100%;
  }

  .mainPage {
    width: 90%;
  }

  .twoBox {
    display: block;
    /* flex-direction: column;
    align-items: flex-start; */
  }

  #APIresultTable {
    margin-left: auto;
    margin-right: auto;
    /* width: 500px; */
    color: white;
  }

  /* #favoriteTable {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  } */

  #reserveTable {
    width: 100%;
  }

  .icon {
    width: 20%;
  }

  .artistPhoto {
    width: 100%;
    object-fit: scale-down;
    max-width: 150px;
  }

  .searchResult {
    display: none;
    /* flex-flow: row wrap; */
    /* border-radius: 10px; */
    margin-left: auto;
    margin-right: auto;
    /* Then we define how is distributed the remaining space */
    justify-content: center;
    list-style: none;
    width: 95%;
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(67, 66, 66, 0.6);
  }

  .srb {
    flex-direction: column;
  }

  .srleft {
    width: 100%;
  }

  .srright {
    width: 100%;
  }

  .albumIMG {
    display: flex;
    flex-direction: column;
  }

  .albumIMG img {
    flex: 1;
    max-width: 100%;
    margin-top: 20px;
  }

  .spotifyRow {
    flex-direction: column;
  }

  #vdLeft {
    width: 100%;
  }

  #vdRight {
    width: 100%;
  }

  #VenueDetails {
    flex-direction: column;
  }

  .modal {
    height: fit-content;
  }

  .modal-body {
    height: 400px;
  }
  #moreInfoHeader {
    margin-bottom: 10px;
  }
  #main_wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mdc-tab-indicator__content--underline, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-tab-header-pagination-chevron, .mat-mdc-tab-group.mat-tabs-with-background>.mat-mdc-tab-header .mat-mdc-focus-indicator {
    border-color: #3E54AC;
    border-width: 3px;
    font-size: 0.8em;
    font-family: system-ui;
  }
  .mat-mdc-tab-labels{
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #1F8A70;
  }
  .customBUT {
    padding: 10px 20px;
  }
  .spotifyAlbumItems {
    align-items: center;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
